{% extends "PNTSiteBundle:Utils:form_layout.html.twig" %}
{% block head %}
<!-- Editor style. -->
<link href='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.7.3/css/froala_editor.min.css' rel='stylesheet' type='text/css' />
<link href='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.7.3/css/froala_style.min.css' rel='stylesheet' type='text/css' />
{% endblock %}
{% block body %}
<div class="">
  <form name="form" class="form-signin hide"
        id="article_form"
        method="post" enctype="multipart/form-data"
        action="{{ path('pnt_site_article_add',{'domain': articleDomain, 'id': articleId}) }}">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="form-signin-heading">
            {% if articleId == 0 %}Add{% else %}Modify{% endif %} a topic
          </h1>
        </div>
        <div class="col-sm-6" id="text-part">
          <h1 class="form-signin-heading" style="font-size: 0.95rem;">
            <a href="#" class="internal-link" data-target="form-domain">
              <i class="fa fa-columns" aria-hidden="true"></i>
              Modify the owner's page
            </a>
          </h1>
          {% set input_form="PNTSiteBundle:Utils:form_input.html.twig" %}
          {% set save_form="PNTSiteBundle:Utils:form_save.html.twig" %}
          <div id="form-domain" class="hide">
            {{ include(input_form, {'element': form.domain, 'name':"Page in which the topic is displayed"}) }}
            <hr />
          </div>
          {{ include(input_form, {'element': form.title, 'name':"Title"}) }}
          {{ include(input_form, {'element': form.text, 'name':"Main content"}) }}
          <div id="froala-editor1" class="froala"></div>
          {{ include(input_form, {'element': form.more_text, 'name':"Additional content"}) }}
          <div id="froala-editor2" class="froala"></div>
        </div>
        <div class="col-sm-6" id="img-part">
          {% if articleId != 0 and img != '' %}
            <div id="img_preview">
              <img src="{{ asset('uploads/img/' ~ img) }}" class="img-thumbnail" width="">
            </div>
            <a href="#" class="btn btn-primary internal-link" data-target="form-image" style="margin-top: 10px;">Modify the image</a>
            <a href="#" id="remove_image" class="btn btn-danger" data-target="form-image" style="margin-top: 10px;">Remove the image</a>
            <span id="form-image" class="hide">{{ include(input_form, {'element': form.image, 'name':"Modify the image"}) }}</span>
          {% else %}
            {{ include(input_form, {'element': form.image, 'name':"Add an image"}) }}
            <div id="img_preview">
              <div class="img-thumbnail add-img" style="width: 100%; height: 250px;">
                <p><a href="#" id="add_img_btn">
                  <i class="fa fa-plus" aria-hidden="true"></i> Add image
                </a></p>
              </div>
            </div>
          {% endif %}
          <div style="margin-top: 10px;">
            {{ form_errors(form.right_align) }}
            {{ form_widget(form.right_align) }}
            {{ form_label(form.right_align, "Align on the right", {'label_attr' : {'id': 'right_align'}}) }}
          </div>
        </div>
        <div class="col-sm-12">
          <div style="margin-top: 10px;">
            <h5>{{ form_label(form.publications, "Link some publications") }}</h5>
            {{ form_errors(form.publications) }}
            <div id="publication_selected">
              <ul class="list-group">
                <div id="last"></div>
                <li class="list-group-item">
                  <a href="#" id="add_publication">
                    <i class="fa fa-plus" aria-hidden="true"></i> Add more publications
                  </a>
                </li>
              </ul>
            </div>
            <div id="publication_stock" class="hide">
              {% for publication in form.publications %}
                <li class="list-group-item input-block"><span>
                  {% set index = publication.vars.value %}
                  {% set entity = form.publications.vars.choices[index].data %}
                  {{ form_widget(publication) }}
                  {{ form_label(publication) }}
                  · <a href="{{ asset('uploads/img/' ~ entity.file) }}" class="like_a_link" target="_blank">See publication</a>
                  · <a class="edit-pub" data-id="{{ entity.id }}" href="{{ path('pnt_site_publication_add', {'id': entity.id}) }}"><i class="fa fa-pencil-square-o"></i> Modify</a>
                  · <a class="del-pub" data-id="{{ entity.id }}" href="#" class="remove"><i class="fa fa-trash-o"></i> Delete</a>
                </span></li>
              {% endfor %}
            </div>
          </div>
          <hr />
          <div style="margin-top: 10px;">
            {{ form_errors(form.visible) }}
            {{ form_widget(form.visible) }}
            {{ form_label(form.visible, "Article visible on the site") }}
          </div>
        </div>
        <div class="col-sm-12">
          {{ include(save_form, {'element': form.save, 'name': "Save information"}) }}
          {{ form_rest(form) }}
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock %}
{% block script %}
<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.7.3/js/froala_editor.min.js'></script>
<script>
if(!$('#form_right_align').prop('checked')){
  $('#img-part').insertBefore($('#text-part'));
}
$('form').show();
$('textarea').each(function(){
  this.style.height = "1px";
  this.style.height = (22+this.scrollHeight)+"px";
});
$('#form_right_align').on('change', function(){
  if(!$('#form_right_align').prop('checked')){
    $('#img-part').insertBefore($('#text-part'));
  } else {
    $('#text-part').insertBefore($('#img-part'));
  }
  $('textarea').each(function(){
    this.style.height = "1px";
    this.style.height = (22+this.scrollHeight)+"px";
  });
});
</script>
<script>
/* Dynamic gestion of img */
$('#add_img_btn').on('click', function(e){
  e.preventDefault();
  $('#form_image').click();
});

function readURL(input) {

  if (input.files && input.files[0]) {
    var reader = new FileReader();

    reader.onload = function(e) {
      $('#img_preview').html('<img src="'+e.target.result+'" class="img-thumbnail">');
    }

    reader.readAsDataURL(input.files[0]);
  }
}

$("#form_image").change(function() {
  readURL(this);
});

$('#remove_image').on('click', function(e) {
  $('#article_form').attr('action', $('#article_form').attr('action') + '?remove_image=yes');
  $('#form_save').click();
  e.preventDefault();
});
</script>
<script>
/* Publication handler */
$('#publication_stock input').each(function(){
  if($(this).prop('checked')){
    $(this).parents('.input-block').insertBefore($('#last'));
  }
});
$('#publication_stock input').on('change', function(){
  if($(this).prop('checked')){
    $(this).parents('.input-block').insertBefore($('#last'));
    $('.modal-dialog button').click();
  }
});
$('#add_publication').on('click', function(e){
  e.preventDefault();
  bootbox.alert({
    size: "large",
    message: '<h1>Choose a publication</h1>'
      +'<div id="bootbox_publi"><ul class="list-group">'
      + '<a href="#" id="new_pub" class="btn btn-success">+ Add another publication</a>'
      + $('#publication_stock').html()
      +'</ul></div>',
    backdrop: true
  });
});
/* Handle special actions to edit publications */
$('body').on('click', '#new_pub',function(e){
  e.preventDefault();
  $('#article_form').attr('action', $('#article_form').attr('action') + '?new_pub=yes');
  $('#form_save').click();
});
$('body').on('click', '.edit-pub', function(e){
  e.preventDefault();
  var id = $(this).attr('data-id');
  $('#article_form').attr('action', $('#article_form').attr('action') + '?edit_pub='+id);
  $('#form_save').click();
});
$('body').on('click', '.del-pub', function(e){
  e.preventDefault();
  var id = $(this).attr('data-id');
  var box = bootbox.dialog({
      message: "Confirm the deletion",
      title: "Do you want to delete this item ?",
      buttons: {
          "Oh no.": {
              className: "btn-default",
          },
          main: {
              label: "Delete",
              className: "btn-danger",
              callback: function() {
                $('#article_form').attr('action', $('#article_form').attr('action') + '?del_pub='+id);
                $('#form_save').click();
              }
          }
      }
  });
});
</script>
<script>
  $('#form_text').hide();
  $('#form_more_text').hide();
  $('div#froala-editor1').froalaEditor({
    toolbarButtons: [
      'bold', 'italic', 'underline', 'paragraphFormat', 'formatOL', 'formatUL', '|', 'undo', 'redo'
    ]
  })
  $('div#froala-editor2').froalaEditor({
    toolbarButtons: [
      'bold', 'italic', 'underline', 'paragraphFormat', 'formatOL', 'formatUL', '|', 'undo', 'redo'
    ]
  })
  $('div#froala-editor1').froalaEditor('html.set', $('#form_text').val());
  $('div#froala-editor2').froalaEditor('html.set', $('#form_more_text').val());
  setInterval(function(){
    $('#form_text').val($('div#froala-editor1').froalaEditor('html.get'));
    $('#form_more_text').val($('div#froala-editor2').froalaEditor('html.get'));
  }, 1000);
</script>
{% endblock %}
