
<!DOCTYPE HTML>
<html>
  <head>
    <title>PhenoTec {% block title %}{% endblock %}</title>
    <meta name="description" content="PhenoTec AG is a pharmaceutical research, service and consulting company." />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('bundles/PNT/global_style.css') }}">
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block nav %}
    <div id="head">
  	   <div style="height: 4px; background-color: white;"></div>
  	    <div id="divFirstTable">
            {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('logout') }}" class="logout btn btn-danger">Log out</a>
            {% endif %}
  		      <table class="topTable"><tr>
  		          <td id="title">
                  <a href="{{ path('pnt_site_home') }}">
                    Phenotec
                    <span style="font-size: 28px; margin-left: 73px; position: relative; bottom: 6px;">
                      Research Service & Consulting
                    </span>
                  </a>
                </td>
  		      </tr></table>
  	    </div>
  		  <div id="head_menu" style="margin-top: 0px; height: 183px;">
  		  </div>
  		  <div class="imageHead" id="imageHead"></div><div class="imageHeadCover" id="imageHeadCover"></div><img class="screenShock" id="screenShock" src="{{ asset('bundles/PNT/skin_1024/screenShock.png') }}">
  	</div>
    <div id="bodytitle2">
  		<table class="topTable"><tr>
    		<td id="main_message" style="text-transform: capitalize;">{% block nav_title %}Welcome{% endblock %}</td>
    		<td class="menu_title2" id="about-us"><a href="{{ path('pnt_site_about_us') }}">About us</a></td>
    		<td class="menu_title2" id="services"><a href="{{ path('pnt_site_services') }}">Services</a></td>
    		<td class="menu_title2" id="news"><a href="{{ path('pnt_site_news') }}">News</a></td>
    		<td class="menu_title2" id="partners"><a href="{{ path('pnt_site_partners') }}">Partners</a></td>
    		<td class="menu_title2" id="contact"><a href="{{ path('pnt_site_contact') }}">Contact</a></td>
  		</tr></table>
		</div>
    {% endblock %}
    <section id="body">
    {% set gestion_page="PNTSiteBundle:Utils:gestion_page.html.twig" %}
    {% set edition_buttons="PNTSiteBundle:Utils:edition.html.twig" %}
    {% set article_template="PNTSiteBundle:Utils:article_template.html.twig" %}
    {% block body %}

    {% endblock %}
    {% block footer_nav %}
    <section class="part" style="border: none; height: 100px; margin-left: 30px;">
			<div class="icone2" style="background-image: url('{{ asset('bundles/PNT/skin_1024/006.jpg') }}');"><div class="text_icone"><a href="{{ path('pnt_site_home') }}">Home</a></div></div>
			<div class="icone2" style="background-image: url('{{ asset('bundles/PNT/skin_1024/007.jpg') }}');"><div class="text_icone"><a href="{{ path('pnt_site_about_us') }}">About us</a></div></div>
			<div class="icone2" style="background-image: url('{{ asset('bundles/PNT/skin_1024/008.jpg') }}');"><div class="text_icone"><a href="{{ path('pnt_site_services') }}">Services</a></div></div>
			<div class="icone2" style="background-image: url('{{ asset('bundles/PNT/skin_1024/009.jpg') }}');"><div class="text_icone"><a href="{{ path('pnt_site_news') }}" style="color: white;">News</a></div></div>
			<div class="icone2" style="background-image: url('{{ asset('bundles/PNT/skin_1024/010.jpg') }}');"><div class="text_icone"><a href="{{ path('pnt_site_partners') }}">Partners</a></div></div>
			<div class="icone2" style="background-image: url('{{ asset('bundles/PNT/skin_1024/008.jpg') }}');"><div class="text_icone"><a href="{{ path('pnt_site_contact') }}">Contact</a></div></div>
			<div class="icone2" id="about_website" style="background-image: url('{{ asset('bundles/PNT/skin_1024/006.jpg') }}');"><div class="text_icone"><a href="#" style="color: #333333;">Website</a></div></div>
		</section>
		<div style="clear: both;"></div>
    {% endblock %}
    </section>
    <div style="height: 7px; background-color: #555555; width: 100%;"></div>
  	<div id="footer"><p>Phenotec© 2018 — All rights reserved</p></div>
  	<div style="height: 7px; background-color: #555555; width: 100%;"></div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.js"></script>
    <script>
      $('textarea').each(function(){
        this.style.height = "1px";
        this.style.height = (22+this.scrollHeight)+"px";
      });
      $('body').on('keyup', 'textarea', function(e){
        this.style.height = "1px";
        this.style.height = (22+this.scrollHeight)+"px";
      });
      $('.internal-link').on('click', function(e){
        // if is link
        if($(e.target).closest('a').length){
          e.preventDefault();
        }
        var hidden_element_id = $(this).attr('data-target');
        console.log(hidden_element_id);
        $('#'+hidden_element_id).show();
        if(!$(this).hasClass('keep')){
          $(this).hide();
        }
      });
      $('#bodytitle2 td.menu_title2').on('click', function(){
        window.location = $(this).find('a').attr('href');
      });
    </script>
    {% block script %} {% endblock %}
    <script>
    {% if is_granted('ROLE_USER') %}
    var supprItems = $('.remove');
    for(i=0; i<supprItems.length; i++){
        $(supprItems[i]).on('click', function(e){
            e.preventDefault();
            var url = this.href;
            var box = bootbox.dialog({
                  message: "Confirm the deletion",
                  title: "Do you want to delete this item ?",
                  buttons: {
                      "Oh no.": {
                          className: "btn-default",
                      },
                      main: {
                          label: "Delete",
                          className: "btn-danger",
                          callback: function() {
                              window.location = url;
                          }
                      }
                  }
              });
        });
    }
    {% endif %}
    </script>
    <script>
    $('#about_website').on('click', function(e){
      e.preventDefault();
      bootbox.alert({
        message: '<article style="padding-left: 20px; padding-right: 20px:">'
        +'<h1 style="padding-left: 0; margin-left: 0; margin-top: 40px;">The PhenoTec Website</h1>'
        +'<p><em>This is the new 2018 version of our website issued in July 2012.</em><br />'
        +'All information here published by PhenoTec\'s team or another person on Phenotec.com remains PhenoTec\'s property and can not be copied or sold. '
        +'Thanks for your cooperation.</p>'
        +'<p>If you have any question or remark, please contact us through \'Contact\' page.</p>'
        +'<p><a href="{{ path('login') }}">Connexion</a></p>'
        +'</article>'
        ,
        backdrop: true
      });
    });
    </script>
    <script>
    var imageHeadCover = document.getElementById('imageHeadCover');
    if(imageHeadCover != null){
    	(function() {
    	setTimeout(function() {
    		var screenShock = document.getElementById('screenShock');
    		screenShock.parentNode.removeChild(screenShock);
    		var opacity = 1;
    		imageHeadCover.style.backgroundColor = 'rgba(237, 237, 237, 1)';
    		changeTopDiapo();
    	}, 1700);
    	})();
    	var intervalID4 = setInterval(function() {
    	var opacity = 0;
    	var intervalID6bis = setInterval(function() {
    		if(opacity < 1) {
    		imageHeadCover.style.backgroundColor = 'rgba(237, 237, 237, '+opacity+')';
    		opacity += 0.05;
    		}
    		else {
    		clearInterval(intervalID6bis);
    		opacity = 1;
    		changeTopDiapo();
    		}
    			}, 35);
    	}, 10000);
      function changeTopDiapo() {//diaporama haut
        var tableau = new Array(
          '{{ asset('bundles/PNT/carousel/001.jpg') }}',
          '{{ asset('bundles/PNT/carousel/002.jpg') }}',
          '{{ asset('bundles/PNT/carousel/003.jpg') }}',
          '{{ asset('bundles/PNT/carousel/004.jpg') }}',
          '{{ asset('bundles/PNT/carousel/005.jpg') }}',
          '{{ asset('bundles/PNT/carousel/006.jpg') }}',
          '{{ asset('bundles/PNT/carousel/007.jpg') }}',
          '{{ asset('bundles/PNT/carousel/008.jpg') }}',
          '{{ asset('bundles/PNT/carousel/009.jpg') }}',
          '{{ asset('bundles/PNT/carousel/010.jpg') }}',
          '{{ asset('bundles/PNT/carousel/011.jpg') }}'
        );
        var max = 8;
    		document.getElementById('imageHead').innerHTML = "";
    		var path;
    		var maxWidth = document.getElementById('imageHead').offsetWidth - 50;
    		var width = 0;
    		var imgWidthAdapted;
    		var nb;
    		var src;
    		var id = 0;
    		var rapport;
    		var j = 0;
    		var Img = tableau;
    		for (var i = 0, c = Img.length; i < c; i++) {
    			src = tableau[i];
    			Img[i] = new Image();
    			Img[i].src = src;
    			rapport = 163/Img[i].height
    			Img[i].height = '163';
    			Img[i].width = Math.floor(Img[i].width*rapport);

    			// alert(Img[i].height+'*'+Img[i].width);
    			// alert(Img[i].width);
    			// alert(src);
    			// alert(tableau[i]);
    			// tableau[i] = src;
    			// alert(tableau[i]);
    			// document.getElementById('imageHead').innerHTML += Img[i].src + '<br />';
    		}
    		while(width < maxWidth && j<Img.length*3) {
    			j++;
    			nb = Math.floor(Math.random() * max);
    			// document.getElementById('imageHead').innerHTML += 'test de limage : '+nb;
    			if(Img[nb] != "" && Img[nb].width != 0) { //secu permettant de supprimer des valeurs dans le tableau en les rendant inopérantes ET PREVENIR LES INCOMPATIBILITE SUR IMAGE
    				width += Img[nb].width;
    				// document.getElementById('imageHead').innerHTML += ' totalwidth = '+ width;
    				if(width < maxWidth) {
    					document.getElementById('imageHead').innerHTML += '<img id="image'+id+'" src="'+Img[nb].src+'" style="height: 163px; margin-right: 8px; border-radius: 8px;">';
    					id++;
    				}
    				else {
    					width -= Img[nb].width;
    					// document.getElementById('imageHead').innerHTML += '<br />picture declined, total width ='+ width+'<br />';
    				}
    				Img[nb] = ""; //permet "d'enlever" l'image trop grande non-affichée ou celle affichée
    			}
    			else {
    			// document.getElementById('imageHead').innerHTML += '<br />image inexistante<br />';
    			}
    		}
    		imgWidthAdapted = maxWidth/width;
    		// alert(maxWidth+'/'+width+' = '+imgWidthAdapted);
    		for (var i = 0; i < id; i++) {
    			document.getElementById('image'+i).style.width =  Math.floor(document.getElementById('image'+i).offsetWidth * imgWidthAdapted) +'px';
    		}
    		var opacity = 1;
    		var intervalID5bis = setInterval(function() {
    			if(opacity > 0) {
    			imageHeadCover.style.backgroundColor = 'rgba(237, 237, 237, '+opacity+')';
    			// alert(opacity);
    			opacity -= 0.05;
    			}
    			else {
    			clearInterval(intervalID5bis);
    			opacity = 0;
    			}
    		}, 35);
    	}
    }
    </script>
    <script>
      function swipe(A, B) {
        /* Make the ajax call to swipe the order of the article */
        var from = {
          id: A.attr('data-id'),
          order: A.attr('data-order')
        }
        var to = {
          id: B.attr('data-id'),
          order: B.attr('data-order')
        }
        $.ajax({
            url:'{{ (path('pnt_site_article_swipe')) }}',
            type: "POST",
            dataType: "json",
            data: {
                "from_id": from.id,
                "from_order": from.order,
                "to_id": to.id,
                "to_order": to.order
            },
            async: true,
            success: function (data)
            {
                console.log('Swipe done. '+ from.order + ' <-> ' + to.order);
            }
        });
      }
      var btn_first_click = true;
      var link_clicked = false;
      $('.top_circle_icon').on('click', function(){
        if(btn_first_click){
            btn_first_click = false;
            $(this).find('a').click();
        }
      });
      $('#reorder').on('click', function(e){
        e.preventDefault();
        $('.reorder-box').fadeIn();
        $(this).fadeOut();
      });
      $('.btn-up a').on('click', function(e){
        e.preventDefault();
        if(!link_clicked){
          link_clicked = true;
          setTimeout(function(){
            btn_first_click = true;
          }, 100);
          var article = $(this).parents('article.part');
          var up_article = article.prev('article.part');
          if(up_article.length){
            $.when(
              article.slideUp()
            ).done(function(){
              article.insertBefore(up_article);
              article.slideDown();
            });
            swipe(article, up_article);
          } else {
            console.log('Already at the top.');
          }
          setTimeout(function(){
            link_clicked = false;
          }, 100);
        }
      });
      $('.btn-down a').on('click', function(e){
        e.preventDefault();
        if(!link_clicked){
          link_clicked = true;
          setTimeout(function(){
            btn_first_click = true;
          }, 100);
          var article = $(this).parents('article.part');
          var down_article = article.next('article.part');
          if(down_article.length){
            $.when(
              article.slideUp()
            ).done(function(){
              down_article.insertBefore(article);
              article.slideDown();
            });
            swipe(article, down_article);
          } else {
            console.log('Already at the bottom.');
          }
          setTimeout(function(){
            link_clicked = false;
          }, 100);
        }
      });
    </script>
    <script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
    </script>
  </body>
</html>
