{% extends "PNTSiteBundle:Utils:form_layout.html.twig" %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <form name="form" class="form-signin"
            method="post" enctype="multipart/form-data"
            action="{{ path('pnt_site_publication_add',{'id': publicationId}) }}{% if back_to_article %}?article={{ back_to_article }}{% endif %}">
        <h1 class="form-signin-heading">{% if publicationId == 0 %}Add{% else %}Modify{% endif %} a publication</h1>
        {% set input_form="PNTSiteBundle:Utils:form_input.html.twig" %}
        {% set save_form="PNTSiteBundle:Utils:form_save.html.twig" %}
        {% if publicationId != 0 and file != '' %}
        <div style="margin-top: 1rem; font-weight: bold;">Current file</div>
        <a href="{{ asset('uploads/img/' ~ file) }}" target="_blank">Open file in new tab</a>
        {% endif %}
        {% if publicationId != 0 %}
          {% set text="Modify the" %}
        {% else %}
          {% set text="Add a" %}
        {% endif %}
        {{ include(input_form, {'element': form.file, 'name': text~" publication file"}) }}
        {{ include(input_form, {'element': form.name, 'name':"Name of the publication"}) }}
        <hr />
        {{ include(save_form, {'element': form.save, 'name': "Save publication"}) }}
        {{ form_rest(form) }}
      </form>
    </div>
  </div>
</div>
{% endblock %}
{% block script %}
<script>
  {% if publicationId == 0 %}
    var name_modified = false;
    $('#form_name').on('focus', function(){
      name_modified = true;
      console.log('Auto naming disabled');
    });
    $('#form_file').change(function(){
      if(!name_modified){
        var filename = $('#form_file').val().split('\\').pop().replace('.pdf', '');
        $('#form_name').val(filename);
      }
    });
  {% endif %}
</script>
{% endblock %}
