{% extends "PNTSiteBundle::layout.html.twig" %}
{% block body %}
  <h2>{{ article.title }}</h2>
  {% set edition_buttons="PNTSiteBundle:Utils:edition.html.twig" %}
  {{ include(edition_buttons, {'edit': path('pnt_site_article_add', {'id': article.id}), 'remove': path('pnt_site_article_remove', {'id': article.id}) }) }}
  <p>{{ article.text }}</p>
  <p>{{ article.moreText }}</p>
  <img src="{{ asset('uploads/img/' ~ article.image) }}" class="img-thumbnail" width="300">
  {% for publication in article.publications %}
    <a href="{{ asset('uploads/img/' ~ publication.file) }}">{{ publication.name }}</a> <br />
  {% endfor %}
{% endblock %}
